<div class="container">
  <h1>Cart Items</h1>
  <table class="cart">
    <thead>
    <tr>
      <th>Image</th>
      <th>Item</th>
      <th>Price</th>
      <th>Operation</th>
    </tr>
    </thead>
    <tbody>
    <% if @products.length == 0 %>
        <tr>
          <td colspan="4" style="color: #AAA">No items in cart</td>
        </tr>
    <% end %>
    <% @products.each do |product| %>
        <tr>
          <td><%= image_tag product.image.thumb.url %></td>
          <td><%= product.name %></td>
          <td>CND <%= number_to_currency(product.price) %></td>
          <td>
            <%= link_to remove_from_cart_path(product.id), method: :post, data: {confirm: "Remove #{product.name}?"} do %>
                <button><span class="fa fa-trash"></span></button>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4"><strong>Total Items:</strong> <%= @products.length %></td>
    </tr>
    <tr>
      <td colspan="4"><strong>Subtotal:</strong> <%= number_to_currency(@total) %></td>
    </tr>
    </tfoot>
  </table>

  <%= form_for(@customer, html: { class: 'order' }) do |f| %>
    <fieldset>
      <legend>Order Information</legend>
      <ul>
        <li>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, required: true, placeholder: 'John' %>
        </li>
        <li>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, required: true, placeholder: 'Smith' %>
        </li>
        <li>
          <%= f.label :province_id %>
          <select id="province_id" name="province_id" required="required">
            <option value=""></option>
            <%= options_from_collection_for_select(@provinces, 'id', 'name') %>
          </select>
        </li>
        <li>
          <%= f.label :city %>
          <%= f.text_field :city, required: true, placeholder: 'Winnipeg' %>
        </li>
        <li>
          <%= f.label :address %>
          <%= f.text_field :address, required: true, placeholder: 'Box 770' %>
        </li>
        <li>
          <%= f.label :postal_code %>
          <%= f.text_field :postal_code, required: true, pattern: '^([ABCEGHJKLMNPRSTVXY]\d){3}$', placeholder: 'R0A0T0' %>
        </li>
        <li>
          <%= f.label :email %>
          <%= email_field 'customer', :email, required: true, placeholder: 'fake@example.com' %>
        </li>
        <li>
          <%= f.submit 'Checkout' %>
        </li>
      </ul>
    </fieldset>
  <% end %>
</div>