<% if flash[:notice] %>
    <div class="notice <%= flash[:code] == 0 ? 'success' : 'error' %>">
      <p><%= flash[:notice] %></p>
    </div>
<% end %>

<%= render 'search' %>

<div class="container">
  <div class="products">
    <%= render @products %>
  </div>
  <section class="pages">
    <%= paginate @products %>
    <%= page_entries_info @products %>
  </section>
</div>